Projet2_temperature(version1)/flows (1).json
[{"id":"12b9999b.7256a6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9c23d23.c8c24","type":"exec","z":"12b9999b.7256a6","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Raspberry CPU Temperature","x":360,"y":80,"wires":[["a0ad4644.0efbf8"],[],[]]},{"id":"a0ad4644.0efbf8","type":"function","z":"12b9999b.7256a6","name":"Extract CPU Temp","func":"const re = /^temp=(.*)'C$/gm;\nmsg.payload = Number(msg.payload.replace(re, '$1'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":80,"wires":[["8317134.cff18f","48a53708.e5f408","6741d4d4.e581ec"]]},{"id":"a97d78fc.40c268","type":"inject","z":"12b9999b.7256a6","name":"Refresh automatically","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["f9c23d23.c8c24"]]},{"id":"8317134.cff18f","type":"debug","z":"12b9999b.7256a6","name":"Temperature CPU","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"48a53708.e5f408","type":"ui_gauge","z":"12b9999b.7256a6","name":"Gauge de temperature CPU","group":"dcc55995.29bba8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"celcius","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":860,"y":100,"wires":[]},{"id":"c1ce6a6c.845ff8","type":"ui_button","z":"12b9999b.7256a6","name":"Refresh manually","group":"dcc55995.29bba8","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh manually","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":120,"wires":[["f9c23d23.c8c24"]]},{"id":"6741d4d4.e581ec","type":"ui_chart","z":"12b9999b.7256a6","name":"","group":"dcc55995.29bba8","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":810,"y":60,"wires":[[]]},{"id":"6d5abfdd.c18fe","type":"openweathermap","z":"12b9999b.7256a6","name":"Weather in Paris","wtype":"current","lon":"","lat":"","city":"paris","country":"france","language":"en","x":360,"y":320,"wires":[["3ae9c27e.96dcde","9395885e.b03e68","b3c0b45.74efe48","60cfbedb.f3c71","a9c93ed5.a24af","2e57abcf.744724","25b2dc06.cd7bdc"]]},{"id":"825cde84.71bcf","type":"inject","z":"12b9999b.7256a6","name":"Refresh automatically","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["6d5abfdd.c18fe"]]},{"id":"865dfd8f.2fd83","type":"ui_button","z":"12b9999b.7256a6","name":"Refresh manually","group":"d0157c4a.4cdf5","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh manually (weather)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":300,"wires":[["6d5abfdd.c18fe"]]},{"id":"3ae9c27e.96dcde","type":"ui_gauge","z":"12b9999b.7256a6","name":"Humidity","group":"d0157c4a.4cdf5","order":5,"width":0,"height":0,"gtype":"donut","title":"Humidity in Paris","label":"units","format":"{{payload.humidity}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":620,"y":300,"wires":[]},{"id":"9395885e.b03e68","type":"ui_gauge","z":"12b9999b.7256a6","name":"","group":"d0157c4a.4cdf5","order":6,"width":0,"height":0,"gtype":"gage","title":"Temperature in Paris","label":"units","format":"{{payload.tempc}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":680,"y":360,"wires":[]},{"id":"b3c0b45.74efe48","type":"debug","z":"12b9999b.7256a6","name":"Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"60cfbedb.f3c71","type":"ui_text","z":"12b9999b.7256a6","group":"8fc68422.7e6d08","order":2,"width":"2","height":"1","name":"WindSpeed","label":"","format":"{{payload.windspeed}}","layout":"row-center","className":"","x":650,"y":460,"wires":[]},{"id":"a9c93ed5.a24af","type":"ui_text","z":"12b9999b.7256a6","group":"15031b78.3d93e5","order":4,"width":"2","height":"1","name":"Sunrise","label":"","format":"{{payload.sunrise}}","layout":"col-center","className":"","x":620,"y":580,"wires":[]},{"id":"2e57abcf.744724","type":"ui_text","z":"12b9999b.7256a6","group":"15031b78.3d93e5","order":6,"width":"2","height":"1","name":"Sunset","label":"","format":"{{payload.sunset}}","layout":"col-center","className":"","x":610,"y":660,"wires":[]},{"id":"e949113.05faff","type":"ui_template","z":"12b9999b.7256a6","group":"15031b78.3d93e5","name":"Sunrise Icon","order":3,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunrise\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"Sunrise Icon","x":630,"y":540,"wires":[[]]},{"id":"ec335f99.f4b6e","type":"ui_template","z":"12b9999b.7256a6","group":"15031b78.3d93e5","name":"Sunset Icon","order":5,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunset\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":630,"y":620,"wires":[[]]},{"id":"fb735e33.ae504","type":"ui_template","z":"12b9999b.7256a6","group":"8fc68422.7e6d08","name":"WindDirection icon","order":3,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{payload.winddirection}}\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"WindDirection icon","x":650,"y":500,"wires":[[]]},{"id":"7da7822.2d09a7c","type":"ui_template","z":"12b9999b.7256a6","group":"8fc68422.7e6d08","name":"WindSpeed Icon","order":1,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{payload.windspeed}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":660,"y":420,"wires":[[]]},{"id":"25b2dc06.cd7bdc","type":"function","z":"12b9999b.7256a6","name":"Prepare Forecast Icon","func":"var wfcIcon1 = {};\nvar wfcIcon2 = {}; \nvar wfcIcon3 = {};\nvar wfcIcon4 = {};\nvar wfcIcon5 = {};\nvar wfcIcon6 = {};\nvar wfcIcon7 = {};\nvar wfcIcon8 = {};\n\n\nvar date = new Date ();\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min; /* + ':' + sec ;*/\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nwfcIcon1.topic = msg.payload[0].dt_txt;\nwfcIcon1.payload = owIconMap.get(msg.payload[0].weather[0].icon);\n\nwfcIcon2.topic = msg.payload[1].dt_txt;\nwfcIcon2.payload = owIconMap.get(msg.payload[1].weather[0].icon);\n\nwfcIcon3.topic = msg.payload[2].dt_txt;\nwfcIcon3.payload = owIconMap.get(msg.payload[2].weather[0].icon);\n\nwfcIcon4.topic = msg.payload[3].dt_txt;\nwfcIcon4.payload = owIconMap.get(msg.payload[3].weather[0].icon);\n\nwfcIcon5.topic = msg.payload[4].dt_txt;\nwfcIcon5.payload = owIconMap.get(msg.payload[4].weather[0].icon);\n\nwfcIcon6.topic = msg.payload[5].dt_txt;\nwfcIcon6.payload = owIconMap.get(msg.payload[5].weather[0].icon);\n\nwfcIcon7.topic = msg.payload[6].dt_txt;\nwfcIcon7.payload = owIconMap.get(msg.payload[6].weather[0].icon);\n\nwfcIcon8.topic = msg.payload[7].dt_txt;\nwfcIcon8.payload = owIconMap.get(msg.payload[7].weather[0].icon);\n\n\nowIconMap.clear(); //freeing resource\n\nreturn [wfcIcon1, wfcIcon2, wfcIcon3, wfcIcon4, wfcIcon5, wfcIcon6, wfcIcon7, wfcIcon8];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":280,"y":540,"wires":[["7da7822.2d09a7c"],["e949113.05faff"],["fb735e33.ae504"],["ec335f99.f4b6e"]]},{"id":"dcc55995.29bba8","type":"ui_group","name":"Temperature CPU","tab":"a315299b.b5bdd8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d0157c4a.4cdf5","type":"ui_group","name":"Weather in Paris","tab":"a315299b.b5bdd8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8fc68422.7e6d08","type":"ui_group","name":"Wind in Paris","tab":"a315299b.b5bdd8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"15031b78.3d93e5","type":"ui_group","name":"Sunrise &Sunset","tab":"a315299b.b5bdd8","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a315299b.b5bdd8","type":"ui_tab","name":"Main Dashboard","icon":"WindSpeed Icon","disabled":false,"hidden":false}]