Projet5_Buildroot et Application BLE/BLE.json
[{"id":"e2718e18d4e483c7","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"06a11db686188f91","type":"Generic BLE in","z":"e2718e18d4e483c7","name":"","genericBle":"22ee5c9e.9aa894","useString":false,"notification":true,"x":490,"y":320,"wires":[["df2735d220eeb33a","876f1a0e06cf88ab"]]},{"id":"d07ed2ddb379fb2d","type":"Generic BLE out","z":"e2718e18d4e483c7","name":"","genericBle":"ecf6e29d5de4eb72","x":450,"y":160,"wires":[]},{"id":"df2735d220eeb33a","type":"debug","z":"e2718e18d4e483c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"8b28d761ffb8fb31","type":"inject","z":"e2718e18d4e483c7","name":"connect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","payload":"","payloadType":"date","x":210,"y":140,"wires":[["d07ed2ddb379fb2d"]]},{"id":"830d8f135fe7f652","type":"inject","z":"e2718e18d4e483c7","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":200,"wires":[["d07ed2ddb379fb2d"]]},{"id":"fe7b8912d987f7a6","type":"inject","z":"e2718e18d4e483c7","name":"Get All Readable Attributes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":320,"wires":[["06a11db686188f91"]]},{"id":"95e6f8089277450e","type":"inject","z":"e2718e18d4e483c7","name":"Get data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":420,"wires":[["06a11db686188f91"]]},{"id":"bbd2cf680be35328","type":"inject","z":"e2718e18d4e483c7","name":"Start data Notify Events for 5 seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["06a11db686188f91"]]},{"id":"280fb4988411229d","type":"inject","z":"e2718e18d4e483c7","name":"disconnect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","payload":"","payloadType":"date","x":180,"y":560,"wires":[["06a11db686188f91"]]},{"id":"876f1a0e06cf88ab","type":"ui_text","z":"e2718e18d4e483c7","group":"dcec2fd2a5e983e8","order":0,"width":0,"height":0,"name":"","label":"The data is:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":690,"y":380,"wires":[]},{"id":"e22b1fb531fb771c","type":"comment","z":"e2718e18d4e483c7","name":"Set up a peripheral device","info":"","x":210,"y":100,"wires":[]},{"id":"4d2d35f94dbd8ff9","type":"comment","z":"e2718e18d4e483c7","name":"Perform after connected","info":"","x":180,"y":280,"wires":[]},{"id":"6de7bf7a1141d2b3","type":"comment","z":"e2718e18d4e483c7","name":"Perform after data transfering Started","info":"","x":150,"y":380,"wires":[]},{"id":"64342af03d21a34c","type":"comment","z":"e2718e18d4e483c7","name":"Disconnect a peripheral device","info":"","x":150,"y":520,"wires":[]},{"id":"22ee5c9e.9aa894","type":"Generic BLE","localName":"iPhone ZR","address":"08:c7:29:ab:9d:1c","uuid":"08c729ab9d1c","characteristics":[]},{"id":"ecf6e29d5de4eb72","type":"Generic BLE","localName":"iPhone ZR","address":"08:c7:29:ab:9d:1c","uuid":"08c729ab9d1c","characteristics":[]},{"id":"dcec2fd2a5e983e8","type":"ui_group","name":"Reciving Sensor data","tab":"f98146340f4eeea5","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f98146340f4eeea5","type":"ui_tab","name":"zaynab's dashboard","icon":"dashboard","disabled":false,"hidden":false}]