Projet4_SenseHat& MQTT/Envoi et réception.json
[{"id":"7535f49339cc1876","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ef4ff33c4e0b83d8","type":"mqtt out","z":"7535f49339cc1876","name":"","topic":"Temp","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0243181f39e1a6ad","x":450,"y":40,"wires":[]},{"id":"2636f35273d0a187","type":"inject","z":"7535f49339cc1876","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"payload","payloadType":"msg","x":100,"y":60,"wires":[["e4d352126c0ffb91"]]},{"id":"e4d352126c0ffb91","type":"exec","z":"7535f49339cc1876","command":"sudo python3 temperature.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Temperature","x":270,"y":60,"wires":[["ef4ff33c4e0b83d8"],[],[]]},{"id":"592c36e320158af8","type":"mqtt out","z":"7535f49339cc1876","name":"","topic":"Press","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0243181f39e1a6ad","x":450,"y":180,"wires":[]},{"id":"89b1f35b2bdebdd3","type":"inject","z":"7535f49339cc1876","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"payload","payloadType":"msg","x":120,"y":200,"wires":[["fe5fa346a57665ed"]]},{"id":"fe5fa346a57665ed","type":"exec","z":"7535f49339cc1876","command":"sudo python3 pressure.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Pression","x":280,"y":200,"wires":[["592c36e320158af8"],[],[]]},{"id":"cf43345ed56dd3cc","type":"mqtt out","z":"7535f49339cc1876","name":"","topic":"Txt","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0243181f39e1a6ad","x":310,"y":560,"wires":[]},{"id":"058c6d165035616e","type":"exec","z":"7535f49339cc1876","command":"sudo python3 acceleration.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Acceleration","x":270,"y":340,"wires":[["935b860de2c1efcb"],[],[]]},{"id":"7c048a9dc6e02450","type":"inject","z":"7535f49339cc1876","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":340,"wires":[["058c6d165035616e"]]},{"id":"935b860de2c1efcb","type":"mqtt out","z":"7535f49339cc1876","name":"","topic":"Acc","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0243181f39e1a6ad","x":450,"y":320,"wires":[]},{"id":"0eb4b73102dee104","type":"mqtt out","z":"7535f49339cc1876","name":"","topic":"Image","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0243181f39e1a6ad","x":630,"y":800,"wires":[]},{"id":"aae235bef4b72667","type":"mqtt in","z":"7535f49339cc1876","name":"","topic":"Image","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":880,"wires":[["b1542d2f622e517d"]]},{"id":"b1542d2f622e517d","type":"rpi-sensehat out","z":"7535f49339cc1876","name":"","x":530,"y":880,"wires":[]},{"id":"961393203d025b7f","type":"exec","z":"7535f49339cc1876","command":"sudo python3 image.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":390,"y":820,"wires":[["0eb4b73102dee104"],[],[]]},{"id":"7fc3905e65d6c5e7","type":"inject","z":"7535f49339cc1876","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":820,"wires":[["961393203d025b7f"]]},{"id":"bdae198db2643798","type":"inject","z":"7535f49339cc1876","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":560,"wires":[["cf43345ed56dd3cc"]]},{"id":"113cd626887e81d9","type":"ui_chart","z":"7535f49339cc1876","name":"","group":"c9187d66c3b99d19","order":3,"width":"6","height":"4","label":"Acceleration X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-5","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#226ea5","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1100,"y":440,"wires":[[]]},{"id":"329ba96c9c4a55f7","type":"ui_chart","z":"7535f49339cc1876","name":"","group":"c9187d66c3b99d19","order":3,"width":"6","height":"4","label":"Acceleration Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.3","ymax":"0.3","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#226ea5","#aec7e8","#e28f46","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1100,"y":480,"wires":[[]]},{"id":"c8ddf93e60c94227","type":"ui_chart","z":"7535f49339cc1876","name":"","group":"c9187d66c3b99d19","order":3,"width":"6","height":"4","label":"Acceleration z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0.5","ymax":"1.2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#226ea5","#2862af","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#874abf","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1100,"y":520,"wires":[[]]},{"id":"d56ab02125f68f54","type":"ui_gauge","z":"7535f49339cc1876","name":"","group":"c9187d66c3b99d19","order":1,"width":0,"height":0,"gtype":"gage","title":"acceleration X","label":"units","format":"{{payload[0]}}","min":"-0.1","max":"0.1","colors":["#3d7b3d","#e6e600","#d61f1f"],"seg1":"","seg2":"","className":"","x":760,"y":280,"wires":[]},{"id":"4ba0113ae63b2910","type":"ui_gauge","z":"7535f49339cc1876","name":"","group":"c9187d66c3b99d19","order":1,"width":0,"height":0,"gtype":"gage","title":"acceleration Y","label":"units","format":"{{payload[1]}}","min":"-0.2","max":"0.2","colors":["#3d7b3d","#d5d534","#ca3838"],"seg1":"","seg2":"","className":"","x":760,"y":320,"wires":[]},{"id":"2fda84c24dd13786","type":"ui_gauge","z":"7535f49339cc1876","name":"","group":"c9187d66c3b99d19","order":3,"width":0,"height":0,"gtype":"gage","title":"Acceleration Z","label":"units","format":"{{payload[2]}}","min":"-2","max":"2","colors":["#1bac1b","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":760,"y":360,"wires":[]},{"id":"506cc73477c403f8","type":"json","z":"7535f49339cc1876","name":"","property":"payload","action":"obj","pretty":false,"x":910,"y":440,"wires":[["113cd626887e81d9"]]},{"id":"199ce746d6c0a2e5","type":"json","z":"7535f49339cc1876","name":"","property":"payload","action":"obj","pretty":false,"x":910,"y":480,"wires":[["329ba96c9c4a55f7"]]},{"id":"ab2bca309531aa37","type":"change","z":"7535f49339cc1876","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":520,"wires":[["ff12ee7044e97bb3"]]},{"id":"ff12ee7044e97bb3","type":"json","z":"7535f49339cc1876","name":"","property":"payload","action":"obj","pretty":false,"x":910,"y":520,"wires":[["c8ddf93e60c94227"]]},{"id":"298c589f508ed9f4","type":"mqtt in","z":"7535f49339cc1876","name":"","topic":"Acc","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":70,"y":420,"wires":[["a8d9ec916e02dc0c"]]},{"id":"a8d9ec916e02dc0c","type":"split","z":"7535f49339cc1876","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":420,"wires":[["a2ff5890497ccf41"]]},{"id":"a2ff5890497ccf41","type":"function","z":"7535f49339cc1876","name":"CONVERT","func":"str= msg.payload\nmsg.payload = str.substring(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":420,"wires":[["ed4c832f514b8225"]]},{"id":"ed4c832f514b8225","type":"json","z":"7535f49339cc1876","name":"","property":"msg.payload","action":"obj","pretty":false,"x":470,"y":420,"wires":[["65f654f9875d69fe"]]},{"id":"65f654f9875d69fe","type":"join","z":"7535f49339cc1876","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":420,"wires":[["2fda84c24dd13786","ab2bca309531aa37","d56ab02125f68f54","4ba0113ae63b2910","7b138f01ebc66020","21c606b51fbd057d"]]},{"id":"7b138f01ebc66020","type":"change","z":"7535f49339cc1876","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":440,"wires":[["506cc73477c403f8"]]},{"id":"21c606b51fbd057d","type":"change","z":"7535f49339cc1876","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":480,"wires":[["199ce746d6c0a2e5"]]},{"id":"1036208f0d5a93b2","type":"scrollMessage","z":"7535f49339cc1876","colorHex":"#ffffff","backHex":"#000000","shiftAmount":1,"delay":200,"rotation":0,"flip":0,"randomColor":false,"x":260,"y":640,"wires":[["1bdd9d37a6aa0d47"]]},{"id":"7b6813d0ee919b7d","type":"mqtt in","z":"7535f49339cc1876","name":"","topic":"Txt","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":640,"wires":[["1036208f0d5a93b2","a5ec13fdd877c4c4"]]},{"id":"1bdd9d37a6aa0d47","type":"rpi-sensehat out","z":"7535f49339cc1876","name":"","x":460,"y":640,"wires":[]},{"id":"a5ec13fdd877c4c4","type":"ui_text","z":"7535f49339cc1876","group":"c9187d66c3b99d19","order":12,"width":0,"height":0,"name":"","label":"Message","format":"{{msg.payload}}","layout":"row-spread","className":"","x":240,"y":720,"wires":[]},{"id":"45a7a219f6705edf","type":"mqtt in","z":"7535f49339cc1876","name":"","topic":"Press","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":280,"wires":[["aac5164d1cda4d7b"]]},{"id":"aac5164d1cda4d7b","type":"function","z":"7535f49339cc1876","name":"CONVERT","func":"str= msg.payload\nmsg.payload = str.substring(10,25);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":280,"wires":[["bf0a28777a33f1ce"]]},{"id":"bf0a28777a33f1ce","type":"ui_gauge","z":"7535f49339cc1876","name":"Pression","group":"820d4d3fd941840b","order":0,"width":0,"height":0,"gtype":"gage","title":"Pression","label":"units","format":"{{payload}}","min":"-50000000","max":"50000000","colors":["#16da16","#c8c841","#ca3838"],"seg1":"","seg2":"","className":"","x":420,"y":280,"wires":[]},{"id":"3d7d1de64aa690bd","type":"mqtt in","z":"7535f49339cc1876","name":"","topic":"Temp","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":140,"wires":[["6e2e82db0288c4bd"]]},{"id":"6e2e82db0288c4bd","type":"function","z":"7535f49339cc1876","name":"CONVERT","func":"str= msg.payload\nmsg.payload = str.substring(12,28);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":140,"wires":[["5f1ac36f48428c4c"]]},{"id":"5f1ac36f48428c4c","type":"ui_gauge","z":"7535f49339cc1876","name":"Temperature","group":"820d4d3fd941840b","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{payload}}","min":"-100","max":"100","colors":["#16da16","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":430,"y":140,"wires":[]},{"id":"0243181f39e1a6ad","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c9187d66c3b99d19","type":"ui_group","name":"Le message ","tab":"fe9db1de2705c182","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"820d4d3fd941840b","type":"ui_group","name":"PRESSION&TEMPERATURE","tab":"fe9db1de2705c182","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fe9db1de2705c182","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]