Projet4_SenseHat& MQTT/Zaynab's Flow (Réception).json
[{"id":"0fdab4a49c5fdbf0","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ae3e3982f0b958cd","type":"mqtt in","z":"0fdab4a49c5fdbf0","name":"","topic":"Temp","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":160,"wires":[["02fa6908919fce13","a38cf74865e1bf3e"]]},{"id":"02fa6908919fce13","type":"function","z":"0fdab4a49c5fdbf0","name":"CONVERT","func":"str= msg.payload\nmsg.payload = str.substring(12,28);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":160,"wires":[["c23cbc35f742b5e5"]]},{"id":"c23cbc35f742b5e5","type":"ui_gauge","z":"0fdab4a49c5fdbf0","name":"Nour's temperature","group":"820d4d3fd941840b","order":0,"width":0,"height":0,"gtype":"gage","title":"Nour's temperature","label":"units","format":"{{payload}}","min":"-50","max":"50","colors":["#dca014","#dca014","#dca014"],"seg1":"","seg2":"","className":"","x":530,"y":160,"wires":[]},{"id":"bb7442b187f779ec","type":"mqtt in","z":"0fdab4a49c5fdbf0","name":"Pression","topic":"Press","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":420,"wires":[["27b711ee49718228","6f57abe904c9ddc5"]]},{"id":"27b711ee49718228","type":"function","z":"0fdab4a49c5fdbf0","name":"CONVERT","func":"str= msg.payload\nmsg.payload = str.substring(10,25);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":420,"wires":[["ba92c08631694dec"]]},{"id":"ba92c08631694dec","type":"ui_gauge","z":"0fdab4a49c5fdbf0","name":"Nour's pressure","group":"820d4d3fd941840b","order":0,"width":0,"height":0,"gtype":"gage","title":"Nour's pressure","label":"units","format":"{{payload}}","min":"-10000","max":"10000","colors":["#16da16","#16da16","#16da16"],"seg1":"","seg2":"","className":"","x":520,"y":420,"wires":[]},{"id":"04e69f83c2d3152e","type":"mqtt in","z":"0fdab4a49c5fdbf0","name":"","topic":"Acc","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":840,"wires":[["a0539639390161d9","d51278bf3251f1cf"]]},{"id":"a0539639390161d9","type":"split","z":"0fdab4a49c5fdbf0","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":840,"wires":[["e852db585d470f7c"]]},{"id":"e852db585d470f7c","type":"function","z":"0fdab4a49c5fdbf0","name":"CONVERT","func":"str= msg.payload\nmsg.payload = str.substring(3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":840,"wires":[["73f8b16f7f418f60"]]},{"id":"73f8b16f7f418f60","type":"json","z":"0fdab4a49c5fdbf0","name":"","property":"msg.payload","action":"obj","pretty":false,"x":610,"y":840,"wires":[["8bad4e101e130ef4"]]},{"id":"8bad4e101e130ef4","type":"join","z":"0fdab4a49c5fdbf0","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":840,"wires":[["6723e0d9d67ac98e","bfb771fe91976455","b7ef97057edf6745","a366baec7e1ca7a4","6e4208db2ac06448","98b5e9bb2bdc7151"]]},{"id":"6723e0d9d67ac98e","type":"ui_gauge","z":"0fdab4a49c5fdbf0","name":"","group":"d3c390c59c039a79","order":1,"width":"4","height":"4","gtype":"donut","title":"Acceleration X","label":"units","format":"{{payload[0]}}","min":"-0.1","max":"0.1","colors":["#3d7b3d","#e6e600","#d61f1f"],"seg1":"","seg2":"","className":"","x":920,"y":740,"wires":[]},{"id":"bfb771fe91976455","type":"ui_gauge","z":"0fdab4a49c5fdbf0","name":"","group":"d3c390c59c039a79","order":1,"width":"4","height":"4","gtype":"donut","title":"Acceleration Y","label":"units","format":"{{payload[1]}}","min":"-0.2","max":"0.2","colors":["#3d7b3d","#d5d534","#ca3838"],"seg1":"","seg2":"","className":"","x":920,"y":780,"wires":[]},{"id":"b7ef97057edf6745","type":"ui_gauge","z":"0fdab4a49c5fdbf0","name":"","group":"d3c390c59c039a79","order":3,"width":"4","height":"4","gtype":"donut","title":"Acceleration Z","label":"units","format":"{{payload[2]}}","min":"-2","max":"2","colors":["#1bac1b","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":920,"y":820,"wires":[]},{"id":"6e4208db2ac06448","type":"change","z":"0fdab4a49c5fdbf0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":900,"wires":[["c1d5bf12cf81b3ca"]]},{"id":"c1d5bf12cf81b3ca","type":"json","z":"0fdab4a49c5fdbf0","name":"","property":"payload","action":"obj","pretty":false,"x":1090,"y":900,"wires":[["ac71042e85a42d9e"]]},{"id":"98b5e9bb2bdc7151","type":"change","z":"0fdab4a49c5fdbf0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":940,"wires":[["fb2213d17a2aafa7"]]},{"id":"fb2213d17a2aafa7","type":"json","z":"0fdab4a49c5fdbf0","name":"","property":"payload","action":"obj","pretty":false,"x":1090,"y":940,"wires":[["9278d1ad2c1f546d"]]},{"id":"a366baec7e1ca7a4","type":"change","z":"0fdab4a49c5fdbf0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":980,"wires":[["eca621e76e05d7e6"]]},{"id":"eca621e76e05d7e6","type":"json","z":"0fdab4a49c5fdbf0","name":"","property":"payload","action":"obj","pretty":false,"x":1090,"y":980,"wires":[["bf9ef67d890d3d30"]]},{"id":"ac71042e85a42d9e","type":"ui_chart","z":"0fdab4a49c5fdbf0","name":"","group":"fa829cff2cf423fb","order":3,"width":"6","height":"4","label":"Acceleration X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-5","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#226ea5","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1260,"y":900,"wires":[[]]},{"id":"9278d1ad2c1f546d","type":"ui_chart","z":"0fdab4a49c5fdbf0","name":"","group":"fa829cff2cf423fb","order":3,"width":"6","height":"4","label":"Acceleration Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.3","ymax":"0.3","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#226ea5","#aec7e8","#e28f46","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1260,"y":940,"wires":[[]]},{"id":"bf9ef67d890d3d30","type":"ui_chart","z":"0fdab4a49c5fdbf0","name":"","group":"fa829cff2cf423fb","order":3,"width":"6","height":"4","label":"Acceleration z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0.5","ymax":"1.2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#226ea5","#2862af","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#874abf","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1260,"y":980,"wires":[[]]},{"id":"d33b93b877c2d23f","type":"mqtt in","z":"0fdab4a49c5fdbf0","name":"","topic":"Image","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":1020,"wires":[["822c99273aa17b86"]]},{"id":"33065b717d0c0225","type":"mqtt in","z":"0fdab4a49c5fdbf0","name":"Humidity","topic":"Hum","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":620,"wires":[["a457626085292dce","7a8d0019b7c74bdd"]]},{"id":"a457626085292dce","type":"function","z":"0fdab4a49c5fdbf0","name":"CONVERT","func":"str= msg.payload\nmsg.payload = str.substring(10,25);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":600,"wires":[["8dc46b143948462a"]]},{"id":"8dc46b143948462a","type":"ui_gauge","z":"0fdab4a49c5fdbf0","name":"Nour's humidity","group":"820d4d3fd941840b","order":0,"width":0,"height":0,"gtype":"gage","title":"Nour's humidity","label":"units","format":"{{payload}}","min":"-100","max":"100","colors":["#42aaa6","#42aaa6","#42aaa6"],"seg1":"","seg2":"","className":"","x":580,"y":620,"wires":[]},{"id":"20a31ecbbe1df735","type":"comment","z":"0fdab4a49c5fdbf0","name":"Affichage de temperature","info":"Affichage de temperature","x":150,"y":40,"wires":[]},{"id":"804b0b8d2949fbf2","type":"comment","z":"0fdab4a49c5fdbf0","name":"Affichage de pression","info":"","x":140,"y":280,"wires":[]},{"id":"d83137d7b53e8412","type":"comment","z":"0fdab4a49c5fdbf0","name":"Affichage de humidité","info":"","x":140,"y":500,"wires":[]},{"id":"6f030ace4263586e","type":"comment","z":"0fdab4a49c5fdbf0","name":"Affichage d'accéleration","info":"","x":140,"y":740,"wires":[]},{"id":"36ab88ac4c03524d","type":"comment","z":"0fdab4a49c5fdbf0","name":"Affichage l'image","info":"","x":120,"y":980,"wires":[]},{"id":"40f1485eb4446d06","type":"comment","z":"0fdab4a49c5fdbf0","name":"Affichage texte","info":"","x":120,"y":1240,"wires":[]},{"id":"a38cf74865e1bf3e","type":"debug","z":"0fdab4a49c5fdbf0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":200,"wires":[]},{"id":"6f57abe904c9ddc5","type":"debug","z":"0fdab4a49c5fdbf0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":480,"wires":[]},{"id":"7a8d0019b7c74bdd","type":"debug","z":"0fdab4a49c5fdbf0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":680,"wires":[]},{"id":"d51278bf3251f1cf","type":"debug","z":"0fdab4a49c5fdbf0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":920,"wires":[]},{"id":"fc2fb62944fcc292","type":"ui_text","z":"0fdab4a49c5fdbf0","group":"c9187d66c3b99d19","order":12,"width":0,"height":0,"name":"","label":"Message","format":"{{msg.payload}}","layout":"row-spread","className":"","x":360,"y":1360,"wires":[]},{"id":"9be80a65caaa8084","type":"mqtt in","z":"0fdab4a49c5fdbf0","name":"","topic":"Txt","qos":"1","datatype":"auto","broker":"0243181f39e1a6ad","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1300,"wires":[["1d2b023d81a9c09b","fc2fb62944fcc292"]]},{"id":"77de5aa0bea21dbe","type":"rpi-sensehat out","z":"0fdab4a49c5fdbf0","name":"","x":560,"y":1300,"wires":[]},{"id":"1d2b023d81a9c09b","type":"scrollMessage","z":"0fdab4a49c5fdbf0","colorHex":"#ffffff","backHex":"#b64949","shiftAmount":1,"delay":200,"rotation":0,"flip":0,"randomColor":false,"x":360,"y":1300,"wires":[["77de5aa0bea21dbe"]]},{"id":"822c99273aa17b86","type":"base64","z":"0fdab4a49c5fdbf0","name":"","action":"","property":"payload","x":320,"y":1020,"wires":[["92eda0ad2aa3d2ae"]]},{"id":"bba8bbe8917f0e8c","type":"rpi-sensehat out","z":"0fdab4a49c5fdbf0","name":"","x":790,"y":1020,"wires":[]},{"id":"32821ea551b91053","type":"function","z":"0fdab4a49c5fdbf0","name":"","func":"if(msg.payload == true)\n    msg.payload = msg.topic+\",blue\";\nelse \n    msg.payload = msg.topic+\",off\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1020,"wires":[["bba8bbe8917f0e8c"]]},{"id":"d6f68eb4fb40e839","type":"exec","z":"0fdab4a49c5fdbf0","command":"sudo python3 Image.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":430,"y":1120,"wires":[["3fd178a0a0387086"],[],[]]},{"id":"f3b4df0b01c92791","type":"inject","z":"0fdab4a49c5fdbf0","name":"","props":[{"p":"payload"},{"p":"topic","v":"01023456","vt":"flow"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":180,"y":1120,"wires":[["d6f68eb4fb40e839"]]},{"id":"92eda0ad2aa3d2ae","type":"split","z":"0fdab4a49c5fdbf0","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":1020,"wires":[["32821ea551b91053"]]},{"id":"9b0680d2476d1755","type":"rpi-sensehat out","z":"0fdab4a49c5fdbf0","name":"","x":890,"y":1120,"wires":[]},{"id":"bce059fa77792b05","type":"comment","z":"0fdab4a49c5fdbf0","name":"Envoyer la data de gyroscope","info":"","x":140,"y":1440,"wires":[]},{"id":"3fd178a0a0387086","type":"function","z":"0fdab4a49c5fdbf0","name":"","func":"if(msg.payload == \"0\\n\"){\n    msg.payload = \"0,0,off\"\n    msg.topic = \"(Unvalid URL)\"\n}\nelse\n    msg.topic = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1120,"wires":[["9b0680d2476d1755"]]},{"id":"1a334460fbd0a3f9","type":"mqtt out","z":"0fdab4a49c5fdbf0","name":"","topic":"Gyro","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0243181f39e1a6ad","x":610,"y":1540,"wires":[]},{"id":"93769609ddeaa277","type":"inject","z":"0fdab4a49c5fdbf0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"payload","payloadType":"msg","x":200,"y":1540,"wires":[["bb6a695b8b825548"]]},{"id":"bb6a695b8b825548","type":"exec","z":"0fdab4a49c5fdbf0","command":"sudo python3 Gyroscope.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Gyroscope","x":390,"y":1540,"wires":[["1a334460fbd0a3f9"],[],[]]},{"id":"0243181f39e1a6ad","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"820d4d3fd941840b","type":"ui_group","name":"PRESSION&TEMPERATURE","tab":"fe9db1de2705c182","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d3c390c59c039a79","type":"ui_group","name":"Acceleration_charts","tab":"fe9db1de2705c182","order":4,"disp":true,"width":"4","collapse":false,"className":""},{"id":"fa829cff2cf423fb","type":"ui_group","name":"Acceleration_jauges","tab":"fe9db1de2705c182","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c9187d66c3b99d19","type":"ui_group","name":"Le message ","tab":"fe9db1de2705c182","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fe9db1de2705c182","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]