Projet 2_temperature/flows.json
[{"id":"67d593f2.3acacc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9c23d23.c8c24","type":"exec","z":"67d593f2.3acacc","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Raspberry CPU Temperature","x":400,"y":220,"wires":[["a0ad4644.0efbf8"],[],[]]},{"id":"a0ad4644.0efbf8","type":"function","z":"67d593f2.3acacc","name":"Extract CPU Temp","func":"const re = /^temp=(.*)'C$/gm;\nmsg.payload = Number(msg.payload.replace(re, '$1'));\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["1aac70ad.e382df","e886d5e5.6b4608","8317134.cff18f"]]},{"id":"1aac70ad.e382df","type":"ui_chart","z":"67d593f2.3acacc","name":"Chart Temperature CPU","group":"90aec432.92acc8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":280,"wires":[["e223a913.3cbfa8"]]},{"id":"e886d5e5.6b4608","type":"ui_gauge","z":"67d593f2.3acacc","name":"GaugeTemperature CPU","group":"90aec432.92acc8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"celicus","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"45","className":"","x":970,"y":360,"wires":[]},{"id":"e223a913.3cbfa8","type":"ui_button","z":"67d593f2.3acacc","name":"","group":"90aec432.92acc8","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh Temp CPU","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1210,"y":280,"wires":[["37ad4d37.4c3512"]]},{"id":"8317134.cff18f","type":"debug","z":"67d593f2.3acacc","name":"Cpu weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":200,"wires":[]},{"id":"2b3af3f2.b26e4c","type":"link in","z":"67d593f2.3acacc","name":"","links":["c5efdf55.db32f","37ad4d37.4c3512"],"x":135,"y":280,"wires":[["f9c23d23.c8c24"]]},{"id":"37ad4d37.4c3512","type":"link out","z":"67d593f2.3acacc","name":"Refresh","links":["a6b24cea.e52a7","c86f1945.5c2ec8","bedc97e7.97ed88","6c25540e.75a4ac","2b3af3f2.b26e4c"],"x":1275,"y":400,"wires":[]},{"id":"b2a3bc0c.5d7f2","type":"openweathermap","z":"67d593f2.3acacc","name":"Current weather in Paris","wtype":"onecall","lon":"2.3522219","lat":"48.856614","city":"","country":"","language":"fr","x":410,"y":480,"wires":[["c5a47e1b.07181","4769a98e.c4bfc8","31185a6f.11a236"]]},{"id":"c5a47e1b.07181","type":"debug","z":"67d593f2.3acacc","name":"Current weather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":480,"wires":[]},{"id":"4769a98e.c4bfc8","type":"ui_gauge","z":"67d593f2.3acacc","name":"Current Temperature in Paris","group":"682d57f.9b22da8","order":3,"width":0,"height":0,"gtype":"gage","title":"Current Temperature in Paris","label":"units","format":"{{payload.current.temp}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"45","className":"","x":780,"y":540,"wires":[]},{"id":"cae28c4b.3d6a3","type":"ui_button","z":"67d593f2.3acacc","name":"","group":"682d57f.9b22da8","order":3,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":540,"wires":[["b2a3bc0c.5d7f2"]]},{"id":"31185a6f.11a236","type":"ui_gauge","z":"67d593f2.3acacc","name":"Current Humidity in Paris","group":"682d57f.9b22da8","order":3,"width":0,"height":0,"gtype":"gage","title":"Current Humidity in Paris","label":"","format":"{{payload.humidity}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"45","className":"","x":770,"y":600,"wires":[]},{"id":"d409d5e6.789c88","type":"inject","z":"67d593f2.3acacc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[["f9c23d23.c8c24"]]},{"id":"e2ec6c5d.16402","type":"inject","z":"67d593f2.3acacc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["b2a3bc0c.5d7f2"]]},{"id":"90aec432.92acc8","type":"ui_group","name":"Temperature CPU","tab":"3ad03d43.d41622","order":1,"disp":true,"width":"7","collapse":true,"className":""},{"id":"682d57f.9b22da8","type":"ui_group","name":"Open weather map","tab":"3ad03d43.d41622","order":2,"disp":true,"width":"7","collapse":false,"className":""},{"id":"3ad03d43.d41622","type":"ui_tab","name":"Weather dashboard","icon":"dashboard","disabled":false,"hidden":false}]